cmd/log/*
cmd/go-cs/__debug_bin*
cmd/go-cs/uploads
configs/*.yaml
bin/*
uploads/*
log/*
.output/*
**/.idea
**/.vscode
.DS_Store
bin
upload_files
db_root_password.txt
**/*.tmp
configs/var/*
mysql-es/etc/river_local.toml
cmd/go-cs/configs/var/*
mysql-es/etc/river_v3_v4.toml
.vscode/launch.json
dist*
.vscode
**/*.local*
build